# Dependencies
node_modules/
jspm_packages/
web_modules/
.npm
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv/
ENV/
env.bak/
venv.bak/

# Databases & Volumes
postgres_data/
uploads/
*.db
*.sqlite3

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.backup

# Editors & OS
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
